/*NAVBAR*/
.search-input {
    background: transparent;
    font-family: 'Satoshi';
    font-size: 15px;
    outline: none;
}

.search {
    background-color: rgba(76, 76, 76, 0.05);
    border-radius: 50px;
}

.nav-text {
    font-family: 'Satoshi';
    font-weight: bold;
    font-size: 14px;
}

/*HOME*/
/*nav kiri*/
.menu {
    list-style-type: none;
    width: 265px;
}

.menu-item {
    font-family: 'Satoshi';
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    font-family: 'Satoshi';
    font-size: 14px;
    background-color: #752092;
}

.btn-unggah {
    font-family: 'Satoshi';
    font-size: 14px;
    background-color: #752092;
}

/*content*/
.content-bg {
    background-color: rgba(76, 76, 76, 0.08);
    height: calc(100% - 15px);
}

.content-text {
    width: calc(100% - 15px);
    font-family: 'Satoshi';
    resize: none;
    outline: none;
    background: transparent;
}

/*MAIN CONTENT*/
.name {
    font-family: 'Satoshi';
    font-weight: bold;
    font-size: 13px;
}

.post-info {
    font-family: 'Satoshi';
    font-size: 13px;
    color: rgba(76, 76, 76, 0.7);
}

.profile-img {
    width: 8%;
    height: auto;
}

.text-main {
    font-family: 'Satoshi';
}

.wrap-img {
    border-radius: 10px;
    overflow: hidden;
}

/*BARANG PAGE*/
/*NAVBAR*/
.nav-text2 {
    font-size: 18px;
    font-family: 'Satoshi';
    font-weight: bold;
}
/*content*/
.item-name {
    font-size: 18px;
    font-family: 'Satoshi';
    font-weight: bold;
}

.posting-date {
    font-size: 12px;
    font-family: 'Satoshi';
    font-weight: lighter;
}

.date {
    font-size: 14px;
    font-family: 'Satoshi';
}

ul {
    list-style: none;
}

.img-del {
    width: 95%;
    height: 95%;
}

.btn-create {
    background-color: #5AD32E;
}

.btn-del {
    background-color: #E33F3F;
}

.find {
    font-size: 14px;
    font-family: 'Satoshi';
}

/*ANIMATION*/
.menu-item:hover {
    font-weight: bold;
}

.btn-create:hover {
    background-color: gray;
}

.btn-del:hover {
    background-color: gray;
}